@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@500&family=Righteous&display=swap");

* {
  padding: 0;
  margin: 0;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}

h1 {
  font-family: "Righteous", cursive;
}

p {
  font-family: "Open Sans", sans-serif;
}

.img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lyrics-container {
  color: #fff;
  border: solid 3px #e0d040;
  padding: 10px;
  width: 500px;
  height: 500px;
  margin-bottom: 100px;
  overflow-y: scroll;
}

.play {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.title {
  margin-bottom: 20px;
}

.img {
  height: 80vh;
}

.nav {
  display: flex;
  flex-direction: row;
  background-color: #000;
  outline: 1px;
  justify-content: space-around;
}

.nav > a {
  color: white;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
}

a {
  text-decoration: none;
  border: 2px solid #e0d040;
  padding: 5px;
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
